/**
 * You can place your custom CSS statements here
 * it is better to write everything custom here
 * because this file won't be replaced during upgrade
 * Don't forget to rename this file to "site.css"
 */

.am-main {
	visibility:hidden;
}

/* h1 {
	display:none;
} */

h2 {
	font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
    font-weight: lighter;
}

/* aMember doesn't properly hide the payment option where there is only one choice */
#row-paysys_id {
	display:none;
}

form span.error {
	display:none;
}

.form-horizontal .control-group {
	margin-bottom: 0.8em;
}

.am-form label[class=radio] {
	margin-bottom:10px;
}

.am-form span.required {
	display:none;
}

.am-form .comment {
	display:none;
}

/* Inline CSS relocated from membership.twig */
table {
	margin-top:1.12em;
}

/* .comment, .span.error {
	display:none
} */

.comment {
	display:none;
}

.dropdown.active {
	transform:none !important
}

.am-signup-form label {
	width:13em !important;
	margin-right:10px !important;
}

span.error[generated=true] {
	margin-left:10px;
	color:red;
}

div.agreement > pre {
	height:25.5em;
	overflow:scroll;
	overflow-x:hidden;
}
