{% extends pjax == true ? "fragment.twig" : "learning_base.twig" %}

{% block template %}exercise{% endblock %}

{% import "macro/panels.twig" as panel %}

{% block title %}Level {{ level }} &gt; Lesson {{ lesson }} &gt; Exercise{% endblock %}

{% block learningcontent %}
    {{ parent() }}
    <div class="span12 stageplayer">
        <div class="stageplayer-content">
            <iframe src="{{ url }}" style="border:none" width="100%" height="100%" onload="console.log(this.body)"></iframe>        
        </div>        
    </div>
{% endblock %}
{% block notecontent %}
{% endblock %}