{% extends pjax == true ? "fragment.twig" : "base.twig" %}

{% block template %}welcome{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block sidebar %}{% endblock %}

{% block maincontent %}
	{{ parent() }}

	<div class="hero-unit" style="padding:20px">
		<h1>أهلاً و سهلاً</h1>
		<p style="margin:1em 0">Welcome to Path to Arabic! Before you get started, we'd just like to ask you a few questions. Your answers will ensure that the course is best tailored to your needs.</p>
		<p>
			<a href="/survey" class="btn btn-primary btn-large">Continue <i class="icon-chevron-right icon-white"></i></a>
		</p>
	</div>
{% endblock %}
