<div class="accordion" id="navbar">
	<div class="accordion-group">
		<div class="accordion-heading">
			<img class="dropdown" src="/img/glyphicons_200_download.png">

			<a class="accordion-toggle" data-toggle="collapse" data-parent="#navbar" href="#nav-main">
				<span style="font-size:1.5em">Main</span>
			</a>

		</div>
		
		<div id="nav-main" class="accordion-body collapse">
			<div class="accordion-inner">
				<i class="icon-home"></i>&ensp;<a href="/home">Home</a>
			</div>
			
			<div class="accordion-inner">
				<i class="icon-road"></i>&ensp;<a href="/statistics">Statistics</a>
			</div>
			
			<div class="accordion-inner">
				<i class="icon-wrench"></i>&ensp;<a href="/preferences">Preferences</a>
			</div>

			<div class="accordion-inner">
				<i class="icon-user"></i>&ensp;<a href="/amember4/member">Membership</a>
			</div>

			<div class="accordion-inner">
				<i class="icon-question-sign"></i>&ensp;<a href="/support">Help &amp; Support</a>
			</div>

			<div class="accordion-inner">
				<i class="icon-eject"></i>&ensp;<a href="/amember4/login/logout">Sign Out</a>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<img class="dropdown" src="/img/glyphicons_200_download.png">

			<a class="accordion-toggle" data-toggle="collapse" data-parent="#navbar" href="#nav-lessons">
				<span style="font-size:1.5em">Levels</span>
			</a>
		</div>
		
		<div id="nav-lessons" class="accordion-body collapse">
			<div class="accordion-inner">
				<a href="/level/1">Level 1</a>
			</div>
			<div class="accordion-inner">
				<a href="/level/2">Level 2</a>
			</div>
			<div class="accordion-inner">
				<a href="/level/3">Level 3</a>
			</div>
			<div class="accordion-inner">
				<a href="/level/4">Level 4</a>
			</div>
		</div>
	</div>
</div>
